@let bookData = book(); <!-- Guardamos el valor de la señal en una variable local -->

@if (bookData) {
<div>
    <h2>Book title: {{ bookData.title }}</h2>
    <p>Book author: {{ bookData.author }}</p>
    <p>Book category: {{ bookData.category }}</p>
    <button (click)="onDelete()">Delete</button>
</div>
} @else {
<div class="error">
    <h2>Error 404</h2>
    <p>Lo sentimos, el libro con ID "{{ bookId() }}" no existe en nuestra base de datos.</p>

</div>
}

<button (click)="navigateToBookList()">Back to Book List</button>

<hr>
@if (book()) {
<form (submit)="updateBook(title.value, author.value, category.value); $event.preventDefault()">
    <input #title [value]="book()?.title" />
    <input #author [value]="book()?.author" />
    <input #category [value]="book()?.category" />
    <button type="submit">Update</button>
</form>
}