<h1>Welcome to the book list</h1>
<ul>
    @for (book of books(); track book.id) {
    <li>
        <a [routerLink]="['/books', book.id]">
            {{ book.title }}
        </a>
        - {{book.author}}
        - {{book.category}}
    </li>
    } @empty {
    <p>No hay libros disponibles o cargando...</p>
    }
</ul>
<hr>
<h2>Add Book</h2>

<form (submit)="addBook(title.value, author.value, category.value); $event.preventDefault()">
    <input #title placeholder="Title" required />
    <input #author placeholder="Author" required />
    <input #category placeholder="Category" required />
    <button type="submit">Add</button>
</form>