<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label for="title">Title</label>
        <input id="title" type="text" formControlName="title" />
        @if (form.controls.title.invalid && form.controls.title.touched) {
        <small>Title is required and must have at least 2 characters.</small>
        }
    </div>

    <div>
        <label for="author">Author</label>
        <input id="author" type="text" formControlName="author" />
        @if (form.controls.author.invalid && form.controls.author.touched) {
        <small>Author is required and must have at least 2 characters.</small>
        }
    </div>

    <div>
        <label for="category">Category</label>
        <input id="category" type="text" formControlName="category" />
        @if (form.controls.category.invalid && form.controls.category.touched) {
        <small>Category is required and must have at least 2 characters.</small>
        }
    </div>

    <button type="submit">
        {{ submitLabel() }}
    </button>
</form>